<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CSV Explorer</title>

    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <p>Upload and Explore your Data</p>

    <form action="/import" method="post" enctype="multipart/form-data">
      <input id="uploadField" style="display:inline-block"  type="file" name="csv">
      <input id="uploadButton" class="btn btn-success" type="submit" value="Upload">
    </form>
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span class="percent">0%</span>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <input id="searchField" type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button id="searchButton" class="btn btn-default" type="button">Search</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
    </div>
    
    <br>

    <div class="container-fluid">
      <div class="row">
        <div class="panel panel-default"> 
          <table class="table"> 
            <thead> 
              <tr> 
                <th>#</th> <th>Name</th> <th>Age</th> <th>Address</th> <th>Team</th> 
              </tr> 
            </thead> 
            <tbody id="results"> 
               
            </tbody> 
            </table> 
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript">
    var port = <%= port %>;
    </script>
    <script src="/javascripts/progress.js"></script>

    <script>
    // upload form
    (function() {
      $('form').ajaxForm({
          beforeSend: function() {
              // reconnect the socket for the progress bar
              reconnect();
              var percentVal = '0%';
              bar.width(percentVal)
              percent.html(percentVal);
          },
          success: function() {},
          complete: function(xhr) {
            $('#results').html("Your file has been uploaded and is being processed. Feel free to start searching.")
          }
      }); 

    })();

    </script>

  </body>
</html>